@font-face {
  font-family: "Klavika";
  src: url("./assets/klavika-bold.otf");
}

body {
  margin:0;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f0f2f5;
}

main {
  display:grid;
  grid-template-columns: 30% 40% 30%;
}

.logo {
  font-family: "Klavika";
  color:#1877f2;
  font-size: 3em;
  text-align: center;
  margin-top:10%;
}

.form {
  background-color: white;
  border-radius: 15px;
  padding:20px;
  box-shadow: 0px 0px 40px 00px rgba(75,75,75, 0.3);
  color: #444;
}

@media screen and (max-width: 1200px) {
  main {
      grid-template-columns: 20% 60% 20%;
  }
}

@media screen and (max-width: 724px) {
  main {
      grid-template-columns: 10% 80% 10%;
  }
}


#contact {
  margin-bottom: 100px;
  padding-top:64px!important;
  padding-bottom: 64px!important;
  display: block;
  background-color: rgb(0, 0, 0);
  color: #98a599;
  text-align: center;
}


.gender2 {
  background-color: #ffffff;
  color: rgb(114, 121, 121);
  padding: 10px 5px;
  border-radius: 4px;
  margin: 2px;




}

.field[type=text], select {
  width: 28%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 4px;
}

.lastname[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  
  
}

.mobileinfo[type=text], select {
  width: 61%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  
  
}


.pwinfo[type=text], select {
  width: 61%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  margin-top:5px ;
  border-radius: 4px;
  
  
}

#date[type=text], select {
  width: 20%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(2, 2, 2);
  color: #1877f2;
  margin-top: 0px;
  margin-bottom:0px ;
}
  
  

.send {
    width: 50%;
    background-color: #080808;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(207, 180, 73);
    border-radius: 4px;
    cursor: pointer;
  }


  .Gday {
    margin-top: 10px ;
    padding-right: 45%;
    margin-bottom: 2px ;
  }


  .gender3 {
    margin-top: 10px ;
    padding-right: 45%;
  }

  button {
    width: 50%;
    background-color: #080808;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: 2px solid rgb(207, 180, 73);
    border-radius: 4px;
    cursor: pointer;
  }

h6 {
margin-right: 55%;
}


input:valid {
  border: 2px green solid;
}

input:invalid {
  border: 2px rgb(244, 8, 8) solid;
}