body {

    background-color: rgb(58, 177, 179);
}
body, ul {
     margin: 0px;
     
}

  /* Dropdown Menu */

ul {
 display: flex;
 gap: 10px;
 padding: 10px;
 align-items: baseline;

}

ul li {

    list-style: none;
}

ul li a {
color: #f2f2f2;
}

.dropdown_menu {
background-color: rgb(32, 121, 137);
position: absolute;
opacity: 0;
flex-direction: column;
display: flex;
border: 1px;

}

.dropdown:hover .dropdown_menu {

opacity: 1;

}

.dropdown {
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
  }

/* Change the color of links on hover */

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  

  .topnav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(2, 2, 2);
    width: 1920px;
    margin: 5px;
    align-content: center;
    
  }

  .topnav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(2, 2, 2);
    margin: 5px;
    align-content: center;
    
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffffa4;
    font-size: 40px;
  }


.info {

  text-align: center;
  color: rgb(112, 85, 7);
  

}


/* Video */

.video {

width: fit-content;
justify-content: center;
padding-left: .5%;
padding-right: .5%;

}

/* Footer */

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(254, 243, 86);
  color: rgb(91, 66, 66);
}

#vibes {

width: 1920px;
justify-content: center;
padding-left: .5%;
padding-right: .5%;

}

/* Hero Image */

.hero-image {
  background: url(Assets/vibes.jpg) no-repeat center; 
  width: 1920px;
  height: 500px;
  position: relative;
  background-size: cover;
}

/* Hero Text */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Container */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(118, 21, 21, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(241, 239, 238);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(233, 230, 230);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #0506064a;
}

