body {

    background-color: rgb(58, 177, 179);
}
body, ul {
     font-family:
     margin: 0;
}

ul {
 display: flex;
 gap: 10px;
 padding: 10px;
 align-items: baseline;
 justify-content: space-between;

}

ul li {

    list-style: none;
}

ul li a {
color: #f2f2f2;
}

.dropdown_menu {
background-color: rgb(32, 121, 137);
position: absolute;
opacity: 0;
flex-direction: column;
display: flex;
border: 1px;

}

.dropdown:hover .dropdown_menu {

opacity: 1;

}

.dropdown {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  

  .topnav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: rgb(2, 2, 2);
    
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffffa4;
    font-size: 40px;
  }

  /* Style the Image Used to Trigger the Modal */
#fruitdrink {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
}

#fruitjuice {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#foodieflavour {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}


#fruitdrink:hover {opacity: 0.7;}

#fruitjuice:hover {opacity: 0.7;}

#foodieflavour:hover {opacity: 0.7;}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index:1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left:0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.info {

  text-align: center;
  color: rgb(112, 85, 7);
  

}

.video {
  justify-content: left;
  



}