.site_hero {
 height: 80vh;
 background-image:url("../assets/Goat.jpg");
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;

}


.hero_text {
    color: red;
    font-family: "Bebas Neue";
    font-style: italic;
    text-align: center;
    

}

.hero_text h1 {
 font-size: 5em;
 margin-top: 10px;
 
}

.hero_text h3 {
 font-size: 3em;
 margin-bottom: 40px;
   
}

h1 {
margin-top: 5px;
margin: 0px;

}
   
