/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*~~~~~~ MAIN BRAND STYLE ~~~~~~~~*/

/* typography: */
body, main, footer, nav, header {
  font-family: "Montserrat";
  background-color: #b7652e;
}
a {
  color:#e1a177;
}
.btn {
  background-color: #ffffff;
  border:2px solid #e1a177;
  border-radius: 0px;
}

/* Header & Navbar: */

body {
  margin:0;
  color:#000000;
  border-color: #e1a177;
}

header {
  border-bottom: 2px solid #000000;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:50px;
  background-color: #ffffff;
  color:#e1a177;
}
.header-top{
  width:15%;
}
nav {
  border-bottom: 2px solid #e1a177;
  background-color:#080808;
  position:sticky;
  top:0px;
  box-shadow: 0px 3px 3px 0px rgb(0,0,0,0.3);
  display:flex;
  justify-content: space-between;
  z-index: 99;
  font-weight: 500;
}

nav ul {
  display:flex;
  padding-left:0;
  margin:0px;
}

nav li {
  list-style-type: none;
}
nav a {
  color:#e1a177;
  text-decoration: none;
  padding:5px 20px;
  padding-left:2.5px;
  display:inline-block;
}
nav a::before {
  content:"|";
  padding-right:5px;
}
nav a:hover {
  background-color: #ffffffd2;
  color:#f8feff;
}
.nav-contact {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  height:auto;
  width:33%;
}
.nav-contact:hover {
  color:#ffffff;
}
.nav-contact ion-icon{
  margin-right:10px;
}
.nav-contact p {
  margin:0;
  margin-right: 10px;
}

#site_logo {
  width:100%;
}
.site_title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  font-weight: 900;
  margin-bottom:0;
  margin-right: 50px;
  color: #000000;
  padding-left: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.site_quote {
  font-size: 1em;
  text-align: right;
  font-style: italic;
  font-weight: 600;
  margin:0px;
}
#site_logo:hover,.site_title:hover,.site_quote:hover {
  color:#070707;
  cursor:pointer;
}


/* MAIN Content */
main {
  padding: 25px 15%;
}

/* contents: */

.content {
  background-color: #f8feff;
  border:2px solid #e1a177;
  padding:15px;
  color:#e1a177;
  box-shadow: 2px 3px 1px 1px rgba(0,0,0,0.3);
  margin:50px 0px;
}
.content-header {
  color: #ffffff;
  font-size: 42pt;
  font-family: "Lobster";
  margin:0;
  text-align: center;
  padding:25px;
  font-style: italic;
  font-weight: bold;
}
.content-subhead {
  color: #ffffff;
  border-bottom: 1px solid #e1a177;
  margin:0;
  text-align: center;
  margin-bottom:25px;
  padding-bottom:25px;
  font-family: "Montserrat";
  font-weight: normal;
  font-style: italic;
}
.content-content {
  padding:20px;
}

.content-container {
background: linear-gradient(#000000, #e6a05f);

}



/* Footer ~~~~~~~ */
.footer-hat {
  height:30px;
  background-color: #f8feff;
  border-top:2px solid #e1a177;
}
footer {
  background-color: #e1a177;
  padding:25px;
  border-top:2px dashed #040404;
  box-sizing: border-box;
  display:flex;
}
footer h4, footer h5, footer h6 {
  font-family: "Montserrat";
  margin:0;

}
.footer-left {
  flex: 1;
  margin-bottom:50px;
}
.footer-right {
  flex:3;
  margin-left:25px;
}
footer h4 {
  font-size: 2em;
}
.footer-right h6 {
  font-size: 1.5em;
}
.footer-right p {
  margin-left: 15px;
  margin-top: 10px;
}

.footer-feet {
  background-color: #080808;
  height:40px;
  border-top: 2px dashed #e1a177;

  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  font-size: 8pt;
}

.footer-feet p {
  margin:0;
}

/* Special typography */

.dropcap {
  font-family: "Montserrat", sans-serif;
  float:left;
  font-size:42pt;
  margin-top: -5px;
  line-height: 0.65;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}


#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px;
  gap: 8px;
  width: fit-content;
  justify-content: center;

}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

.Cardbutton {

  background-color: #192e55;
  color: #f8feff;
}

#bali {
  justify-content: center;
  width: 100%;
  
}


.container {
background: linear-gradient(#000000, #e6a05f);
padding-right: 3vw;
padding-left: 7vw;
max-width: 1440px;
margin: 0 auto;
}

.card-title {
  color: #000000;

}


.button {
  background-color: #090908;
  color: #ffffff;
  padding: 5px;
  border: 2px solid #e1a177;
  border-radius: 2px;
  display: flex;
  justify-content: center;

}

h1 {
  color: #576a6d;
 
}

#logo {
  float: left;
  width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
 
}


.carousel-item {
  object-fit: cover;
    
  }