body {

  background-color: rgb(112, 84, 84);

}

body ul {

  margin: 0px;
}

/* SIDE NAV */

ul li {

  list-style: none;
  display: flex;
  
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav {
  padding: 10px;
  height: 100%;
  width: 100;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  
}

h1 {
  text-align: center;
  margin:0px;
  padding: 5px;
  background-color: black;
  width: 100%;
  color: aliceblue;
  
}

#gallery img {
height: 20vh;
width: 20vh;
object-fit: cover;

}

#gallery {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.sidenav {
display: flex;
flex-direction: column;

}

@media screen and (max-width: 768px) {
  
#gallery {
  grid-template-columns: 1fr;
}

#gallery img {
  width: 100%;
  height: auto;
}
}














