body {
  margin:0;
  background-image: url(../images/disney+bg.jpeg);
}

/* FONTS */
@font-face {
  font-family:AvenirLTStd-Black;
  src: url("../AvenirLTStd-Black.otf");
}


@font-face {
  font-family: AvenirLTStd-Book;
  src: url("../AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("../AvenirLTStd-Roman.otf");
}

header {
  background-image: linear-gradient(to right, rgba(255,255,255,0.05), rgba(0,0,0,0.664));
}

nav {
  display: flex;
  justify-content: space-between;
  
}


#info {
  text-align: center;
  justify-content: center;
  
}



main h5 {
  text-align: center;
  
}

.form {
  background-color: white;
  border-radius: 15px;
  padding:20px;
  box-shadow: 0px 0px 40px 00px rgba(75,75,75, 0.3);
  color: #444;
}


header {
  font-family: AvenirLTStd-Book;
  display: flex;
  flex-direction: column;
  color: #ffffff;
 
}

#Bundles {
  align-self: center;
  text-align: center;
} 

/* GALLERY */

#gallery img {
height: 40vh;
width: 40vh;
}

#gallery {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}



main {
width: auto;
padding-top: 10px;
background-color: #010101;
display: flex;
flex-direction: column;
align-items: center;
}

/* GALLERY END */

#email_button {
  padding: 14px 20px;
  border-radius: 4px;
  margin: 20px 0;
  border: none;
}

form button:hover {
  opacity: 0.7;

}

#banner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-image: linear-gradient(to right, rgba(255,255,255,0.05), rgba(0,0,0,0.664));
 }


 
 
#banner img {
 height: 5vh;
 
}


#Login {
    font-family: AvenirLTStd-Roman;
    font-size: 1rem;
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid whitesmoke;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin: 20px 0;
  
  }

  button {
    color: #ffffff;
    width: 50%;
    background-color:#0063e5;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


#terms {
    text-align: center;
    color: #ffffff;
    }


h2 {
  font-family: AvenirLTStd-Roman;
  font-size: large;
  text-align: center;
  color: #ffffff;
  margin: 0;
  }



    h1 {
      font-family: AvenirLTStd-Roman;
      font-size: large;
      text-align: center;
      color: #ffffff;
      margin: 0;
      }
  
footer {
display: flex;
flex-direction: column;
background-color: #020202;
padding: 50px;

}

.disney_logo {
width: 75px;
  
}

#disney_logo2 {
 height: 5vh;
 padding-bottom: 20px;
    
}

.Words {
  font-family: AvenirLTStd-Roman;
  padding-top: 20px;
  display: flex;
  gap: 25px;
  padding: 10px;
  align-items: baseline;
  

  
  }

.links a {
  color: #ffffff;

}

.links {
color: #1ce783;
  align-self: center;
  justify-content: center;
  
}

#hulu_footer {
  align-self: center;
  width: 75px;
    
  }

input:valid {
  border: 2px green solid;
}

input:invalid {
  border: 2px rgb(244, 8, 8) solid;
}

  
@media screen and (max-width: 768px) {
  #gallery {
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  
    }
    
  }